<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title>Explore Andhra Pradesh</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="container">

        <a class="navbar-brand fw-bold"
           href="/">

            Explore Andhra Pradesh

        </a>

        <div>

            <a class="btn btn-light me-2"
               href="/">Home</a>

            <a class="btn btn-light me-2"
               href="/places">Places</a>

            <a class="btn btn-light me-2"
               href="/hotels">Hotels</a>

            <a class="btn btn-light me-2"
               href="/food">Food</a>

            <a class="btn btn-light me-2"
               href="/travel">Travel</a>

            <a class="btn btn-light me-2"
               href="/about">About</a>

            <a class="btn btn-warning"
               href="/contact">Contact</a>

        </div>

    </div>

</nav>

<section class="hero">

    <div class="container text-center">

        <h1>
            Explore the Beauty of Andhra Pradesh
        </h1>

        <p class="lead">

            Beaches • Temples • Hills • Food • Culture

        </p>

        <a href="/places"
           class="btn btn-success btn-lg">

            Explore Places

        </a>

    </div>

</section>

</body>

</html>